        ${method.getReturnField().getShortType()} ${method.methodName} = subject.${method.methodName}(#foreach($arg in $method.args)$arg.value#if( $foreach.hasNext ), #end#end);

        assertThat(${method.methodName}, is(${method.getReturnField().value}));
