        ${method.getReturnField().getShortType()} ${method.methodName} = subject.${method.methodName}(#foreach($arg in $method.args)${arg.getValue()}#if( $foreach.hasNext ), #end#end);

${assertion.assertion($method)}
