        ${method.getReturnField().getShortType()} ${method.methodName} = subject.${method.methodName}(#foreach($arg in $method.args)${arg.getValue()}#if( $foreach.hasNext ), #end#end);

        assertThat(${method.methodName}, is(${combine.revealObject(${method.getReturnField()})}));
